@model List<SignalRDto.SocialMediaDto.ResultSocialMediaDto>

<div class="footer_social">
    @foreach (var item in Model)
    {
        <a href="@item.Url">
            <i class="@item.Title" aria-hidden="true"></i>
        </a>
    }
</div>