@model SignalRDto.SliderDto.UpdateSliderDto
@{
    ViewData["Title"] = "UpdateFeautre";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkanlar Ekleme İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Öne Çıkanlar Kısmı Girişi</div>
                        </div>
                        <input type="hidden" asp-for="ID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Başlık 1</label>
                                <input type="text" class="form-control" asp-for="Title1" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Açıklama 1</label>
                                <input type="text" class="form-control" asp-for="Description1" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Başlık 2</label>
                                <input type="text" class="form-control" asp-for="Title2" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Açıklama 2</label>
                                <input type="text" class="form-control" asp-for="Description2" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Başlık 3</label>
                                <input type="text" class="form-control" asp-for="Title3" id="categoryname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Açıklama 3</label>
                                <input type="text" class="form-control" asp-for="Description3" id="categoryname">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Öne Çıkan Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

